PORT=3000
NODE_ENV=production
APP_URL=https://devspace.oussamma.tn

SSO_BASE_URL=https://sso-a.oussamma.tn
SSO_CLIENT_ID=client_424090bad2dcadc34cdda40f
SSO_CLIENT_SECRET=sec_votre_secret_ici
SSO_REDIRECT_URI=https://devspace.oussamma.tn/auth/callback
SSO_SCOPES=openid profile email

# Passerelle IA Universelle LiteLLM & SSO
LITELLM_BASE_URL=https://ai.oussamma.tn/v1
LITELLM_API_KEY=sk-oussamma-master-gateway-2026
LITELLM_DEFAULT_MODEL=gemini/gemini-3.1-flash-lite-preview

WORKSPACE_DIR=workspace
SESSION_SECRET=votre-cle-secrete-de-session-aleatoire
